@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "./includeMedia.scss";
$font: "Open Sans",
sans-serif;
$white: rgb(231, 230, 230);
$border: 10px;
$black: rgb(53, 53, 53);

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: $black;
    font-family: $font;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 20%;
    width: 100%;
}

.tableSquare{
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    .table{
        border-radius: 10px;
        border-collapse: collapse;
        border-radius: $border;
        font-size: 0.9rem;
        width: 100%;
        box-shadow: 6px 8px 40px 1px rgba(56, 56, 56, 0.363);
        border-radius: 1rem;

    }
    .table > thead > tr{
        height: 4rem;
        background: linear-gradient(to right, #45e9e9, #0c7fb4);
        color: #ffffff;
        text-align: left;
    }
    .table > th,
    .table > td{
        padding: 120px 150px;
    }
    .table > tbody > tr{
        height: 5rem;
        border-bottom: 1px solid gray;
        color: #0c7fb4;
        font-weight: lighter;
    }
    

}


.detailBtn{
    display: grid;
    place-items: center;
    height: 2rem;
    width: 5rem;
    border-radius: $border;
    border: 1px #1293aac5 solid;
    background: #ffffff;
    cursor: pointer;
    font-family: $font;
    font-size: 0.9rem;
    color: #27a6c9;
}
.categoryBtn{
    display: grid;
    place-items: center;
    height: 2rem;
    width: 5rem;
    border-radius: $border;
    border: 1px rgba(255, 0, 0, 0.678) solid;
    background: #ffffff;
    cursor: pointer;
    font-family: $font;
    font-size: 0.9rem;
    color: rgba(255, 0, 0, 0.712);
}

.btn {
	display: grid;
	place-items: center;
	height: 35px;
	width: 100px;
	border-radius: $border;
	border: 1.1px rgb(228, 225, 225) solid;
	background: linear-gradient(to right, #1293aac5, #27a6c9);
	cursor: pointer;
	box-shadow: 6px 8px 40px 1px rgba(56, 56, 56, 0.363);
	color: $white;
	font-size: small;
	font-family: $font;
}
.logoutbtn{
    margin: 0.6rem;
    align-self: start;
    justify-self: end;
    display: grid;
    place-items: center;
    height: 2.8rem;
    width: 7rem;
    margin-left: auto;
    border-radius: $border;
    border: 1.1px rgb(228, 225, 225) solid;
    background: linear-gradient(to right, #1293aac5, #27a6c9);
    cursor: pointer;
    box-shadow: 6px 8px 40px 1px rgba(114, 114, 114, 0.363);
    color: $white;
    font-size: 0.9rem;
    font-family: $font;
}