@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "./includeMedia.scss";
$font: "Open Sans",
sans-serif;
$white: rgb(231, 230, 230);
$border: 10px;
$black: rgb(26, 25, 25);


.container {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 70% 30%;
	gap: 20px;
	padding: 5% 2% 2% 2%;
	margin: 0 0 0 0;
	height: 100vh;
	background: linear-gradient(to right, #00005c, #1cb5e0);
	// background-color: #e9e9e9;

}

.leftSection {
	display: flex;
	flex-direction: column;
	grid-column: 1/2;
	grid-row: 1/3;
	margin: 0 10px 10px;
	.leftHead{
		display: flex;
		flex-direction: row;
		height: 20%;
		justify-content: space-between;
		.badge{
			display: flex;
			height: 100%;
			width: 30%;
			padding-right: 0.3rem;
			padding-bottom: 1%;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			background-color: #ffffff;
			border-radius: 7px;
			h3{
				color: $black;
				margin-left: 3%;
				font-size: larger;
				font-family: $font;
			}
			.BadgeCircle{
				display: grid;
				place-items: center;
				height: 60%;
				width: 23%;
				margin:2% 0% 0% 2%;
				color: #ffffff;
				border-radius: 360%;
				background-color: #2740608f;
			}
			.badgeTag{
				display: grid;
				place-items: center;
				margin-top: auto;
				margin-left: auto;
				height: 2rem;
				width: 9rem;
				font-family: $font;
				color: white;
				background: linear-gradient(to right, #2740608f, #1cb5e0);

				// background-color: #1B2845;
				border-radius: $border;
			}
		}
	}
	.dropSection{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 80%;
		.dropZone{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: 70%;
			width: 30%;
			background-color: #ffffff;
			border-radius: 7px;
			h2{
				font-family: $font;
				color: $black;
			}
			.dropZoneCadre{
				display: flex;
				justify-content: center;
				align-items: center;
				height: 15%;
				width:90%;
				background: linear-gradient(to right, #2740608f, #1cb5e0cb);
				border-radius: 7px;
				p{
					font-family: $font;
					color: $white;
				}
			}
			.dropZoneIcon{
				display: grid;
				place-items: center;
				height: 42%;
				width: 50%;
				margin:2% 0% 0% 2%;
				color: #ffffff;
				border-radius: 360%;
				background-color: #2740608f;
			}
		}
	}
}
.rightSection{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	grid-column: 2/3;
	grid-row: 1/3;
	background-color: #ffffff;
	border-radius: 7px;
	.rightHead{
		display: grid;
		place-items: center;
		height: 20%;
		width: 100%;
		border-bottom: 0.5px rgb(36, 4, 33) solid;
		h1{
			font-family: $font;
			color: $black;
		}
	}
	.listOfTask{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 31rem;
		width: 100%;
		overflow-y: scroll;
		.task{
			padding: 2% 4% 8% 9%;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			height: 25%;
			width: 80%;
			border-radius: 7px;
			box-shadow: 1px 3px 10px 1px rgba(173, 173, 173, 0.363);
			cursor: pointer;
			.taskTitle{
				font-family: $font;
				font-weight: bolder;
				outline: none;
				color: $black;
			}
			.btn {
				display: grid;
				place-items: center;
				height: 30px;
				width: 70px;
				margin-left: auto;
				border-radius: $border;
				border: 1.1px rgb(228, 225, 225) solid;
				background: linear-gradient(to right, #1293aac5, #27a6c9);
				cursor: pointer;
				box-shadow: 6px 8px 40px 1px rgba(114, 114, 114, 0.363);
				color: $white;
				font-size: 0.9rem;
				font-family: $font;
			}
		}
	}
}
