.container {
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: 30% 70%;
	gap: 20px;
	padding: 2% 2% 2% 2%;
	margin: 0 0 0 0;
	height: 100vh;
	background: linear-gradient(to right, #00005c, #1cb5e0);
}


.leftSection {
	display: flex;
	flex-direction: column;
	grid-column: 1/2;
	grid-row: 1/3;
	border: 1px solid black;
	margin: 0 10px 10px;
	.leftHead{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		border: 1px solid black;
		.badge{
			display: flex;
			height: 5rem;
			width: 11rem;
			flex-direction: row-wrap;
			background-color: #ffffff;
			border: 1px solid black;
			border-radius: 7px;
		}
		.dropZone{
			height: 20%;
			width: 90%;
			background-color: #ffffff;
		}
	}
}
