@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "./includeMedia.scss";
$font: "Open Sans",
sans-serif;
$white: rgb(231, 230, 230);
$border: 10px;
$black: rgb(53, 53, 53);

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #000046, #1cb5e0);
}

.detailBox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90%;
    width: 60%;
    padding: 5%;
    background-color: white;
    border-radius: 7px;
    color: $black;
    font-family: $font;
    cursor: pointer;
    p{
        font-size: large;
    }
    .deadLine{
        display: grid;
        place-items: center;
        align-self: start;
        height: 2rem;
        width: 12rem;
        color: aliceblue;
        background-color: rgb(128, 20, 101);
        border-radius: 7px;
    }
    .btsSection{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 10rem;
        width: 20rem;
        margin-left: auto;
        .btn {
            display: grid;
            place-items: center;
            height: 3rem;
            width: 7rem;
            border-radius: $border;
            border: 1.1px rgb(228, 225, 225) solid;
            background: linear-gradient(to right, #1293aac5, #27a6c9);
            cursor: pointer;
            box-shadow: 6px 8px 40px 1px rgba(114, 114, 114, 0.363);
            color: $white;
            font-size: 0.9rem;
            font-family: $font;
        }
    }
    .select{
        width: 11rem;
        height: 7rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        background-color: transparent;
        font: inherit;
        border-radius: 0;
        border: 0.8px rgb(90, 169, 189) solid;
        border-radius: 4px;
        padding-left: 2rem;
        color: $black;
        font-family: $font;
    }
    select::-ms-expand {
        display: none;
    }
}