@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "./includeMedia.scss";
$font: "Open Sans",
sans-serif;
$white: rgb(231, 230, 230);
$border: 10px;
$black: rgb(53, 53, 53);

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    background: linear-gradient(to right, #000046, #1cb5e0);
}



.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5%;
    padding-top: 6%;
    margin: 2rem;
    height: 80%;
    width: 28rem;
    max-width: 100%;
    background: white;
    border-radius: 5px;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        // padding: 3%;
        // border: 1px blue solid;
    }
    h2 {
        font-family: $font;
        color: $black;
        margin-bottom: 3rem;
    }
    p{
        font-family: $font;
        color: rgb(231, 33, 76);
        margin-bottom: 1.5rem;
    }
    .label {
        display: inline-block;
        margin-bottom: 0.8rem;
        margin-top: 0.3rem;
        padding-left: 1rem;
        font-size: 1.1rem;
        font-family: $font;
    }
    .bigField{
        outline: none;
        display: inline-block;
        border: 0.8px rgb(90, 169, 189) solid;
        padding: 18px;
        border-radius: 5px;
        margin-bottom: 1.1rem;
    }
    .input {
        outline: none;
        display: inline-block;
        border: 0.8px rgb(90, 169, 189) solid;
        padding: 18px;
        height: 1.5rem;
        width: 22rem;
        border-radius: 5px;
        margin-bottom: 1.1rem;
    }

    .input:focus {
        margin-top: 5px;
        transition: 0.2s;
        border: 1.7px rgba(126, 13, 218, 0.411) solid;
    }

    .select{
        width: 200px;
        height: 30px;
        margin-top: 0.9rem;
        margin-left: 3.3rem;
        margin-bottom: 2rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        background-color: transparent;
        font: inherit;
        border-radius: 0;
        border: 0.8px rgb(90, 169, 189) solid;
        border-radius: 4px;
        padding-left: 2rem;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTAgMGw1IDUgNS01eiIvPjxwYXRoIGQ9Ik0tNy0xMGgyNHYyNEgtN3oiLz48L2c+PC9zdmc+');
        background-repeat: no-repeat;
        background-position: top 50% right .75rem, 0 0;
        color: $black;
        font-family: $font;
    }
    select::-ms-expand {
        display: none;
    }

    .btn {
        display: grid;
        place-items: center;
        height: 45px;
        width: 170px;
        border-radius: $border;
        border: 1.1px rgb(228, 225, 225) solid;
        background: linear-gradient(to right, #1293aac5, #27a6c9);
        cursor: pointer;
        box-shadow: 6px 8px 40px 1px rgba(56, 56, 56, 0.363);
        color: $white;
        font-size: larger;
        font-family: $font;
    }


    .questionContainer {
        width: 21rem;
        margin-top: 5rem;
        flex-basis: start;

        input {
            margin-left: 1.5rem;
            cursor: pointer;
            margin-bottom: 3rem;
        }

        label {
            cursor: pointer;
            margin-left: 10px;
        }
    }
    .goBackBtn {
        display: flex;
        height: 40px;
        width: 100px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-family: $font;
        margin-bottom: 3rem;
        background: linear-gradient(to right, #1293aac5, #27a6c9);
        color: $white;
        box-shadow: 0px 2px 30px rgba(39, 39, 39, 0.308);
    }
}
